.DS_Store
Makefile
go.txt
_build
actions.yml
notes.txt
config
background.jpeg.org
github_pages.png
config.env
crop.txt
go.txt
go.txt.230425_195733
lesspass_after_2.txt
lesspass_after.txt
lesspass_after.txt.230424_224444
to_delete
